.glitch {
  position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #00fff9;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim-2 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% { clip: rect(42px, 9999px, 44px, 0); }
  5% { clip: rect(12px, 9999px, 59px, 0); }
  10% { clip: rect(48px, 9999px, 29px, 0); }
  15.0% { clip: rect(42px, 9999px, 73px, 0); }
  20% { clip: rect(63px, 9999px, 27px, 0); }
  25% { clip: rect(34px, 9999px, 55px, 0); }
  30.0% { clip: rect(86px, 9999px, 73px, 0); }
  35% { clip: rect(20px, 9999px, 20px, 0); }
  40% { clip: rect(26px, 9999px, 60px, 0); }
  45% { clip: rect(25px, 9999px, 66px, 0); }
  50% { clip: rect(57px, 9999px, 98px, 0); }
  55.0% { clip: rect(5px, 9999px, 46px, 0); }
  60.0% { clip: rect(82px, 9999px, 31px, 0); }
  65% { clip: rect(54px, 9999px, 27px, 0); }
  70% { clip: rect(28px, 9999px, 99px, 0); }
  75% { clip: rect(45px, 9999px, 69px, 0); }
  80% { clip: rect(23px, 9999px, 85px, 0); }
  85.0% { clip: rect(54px, 9999px, 84px, 0); }
  90% { clip: rect(45px, 9999px, 47px, 0); }
  95% { clip: rect(37px, 9999px, 20px, 0); }
  100% { clip: rect(4px, 9999px, 91px, 0); }
}

@keyframes glitch-anim-2 {
  0% { clip: rect(65px, 9999px, 100px, 0); }
  5% { clip: rect(52px, 9999px, 74px, 0); }
  10% { clip: rect(79px, 9999px, 85px, 0); }
  15.0% { clip: rect(73px, 9999px, 5px, 0); }
  20% { clip: rect(67px, 9999px, 61px, 0); }
  25% { clip: rect(2px, 9999px, 12px, 0); }
  30.0% { clip: rect(93px, 9999px, 50px, 0); }
  35% { clip: rect(14px, 9999px, 96px, 0); }
  40% { clip: rect(86px, 9999px, 1px, 0); }
  45% { clip: rect(58px, 9999px, 64px, 0); }
  50% { clip: rect(2px, 9999px, 41px, 0); }
  55.0% { clip: rect(41px, 9999px, 5px, 0); }
  60.0% { clip: rect(18px, 9999px, 33px, 0); }
  65% { clip: rect(55px, 9999px, 1px, 0); }
  70% { clip: rect(34px, 9999px, 88px, 0); }
  75% { clip: rect(21px, 9999px, 55px, 0); }
  80% { clip: rect(89px, 9999px, 6px, 0); }
  85.0% { clip: rect(80px, 9999px, 90px, 0); }
  90% { clip: rect(25px, 9999px, 82px, 0); }
  95% { clip: rect(22px, 9999px, 26px, 0); }
  100% { clip: rect(23px, 9999px, 14px, 0); }
}
